This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [1]:
a=int(input("enter a number"))
if(a%7 ==0): 
  print(a,"is divisible by 7") 
else:
  print(a,"is not divisible by 7")

enter a number14
14 is divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [9]:
num=int(input("enter a number:"))
if((num%5==0) or (num%7==0)): 
  print("its a five-or-seven number") 
else: 
  print("its not a five-or-seven number")

enter a number:75
its a five-or-seven number

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [10]:
unit=250
if(unit<=100):
  print(unit*3)
elif(unit<200):
  print(unit*5)
elif(unit<500): 
  print(unit*7) 
else: 
  print(unit*10)

1750

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [11]:
num=10
sum=0
while num>0:
  sum=sum+(num*num)
  num=num-1
print(sum)

385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [13]:
sum=0 
for num  in range(1,11): 
  if(num%2==0): 
    sum=sum+(num*num) 
print(sum)

220

**Problem-6**<br>
Check a number is prime or not

In [14]:
num=int(input("enter a number")) 
if num>1: 
  for i in range(2, int(num/2)+1): 
    if(num%i)==0: 
      print(num,"is not a prime number")
      break 
  else: 
    print(num,"is a prime number")

enter a number7
7 is a prime number

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [19]:
for i in range(1,11): 
  print(num,"x",i,"=",num*i)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [21]:
n=int(input("enter a number"))
a=0
b=1
for i in range(0,n): 
  c=a+b 
  a=b
  b=c
  print(c)

enter a number6
1
2
3
5
8
13